In [3]:
import joblib 
from pathlib import Path
import pandas as pd
import numpy as np

In [4]:
data = [0,0,0,0,4,0,0.07958637244945066,0.1168384879725086,0]

In [6]:
test_data = pd.read_csv("artifacts/data_transformation/test.csv")
test_data

,gender,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0,0,1,3,0,0.733081,0.392898,2,0
1,1,0,0,1,3,0,0.184147,0.252005,3,0
2,1,0,0,1,2,0,0.175053,0.361970,3,0
3,1,0,0,1,3,1,0.865571,0.174112,2,0
4,1,0,0,1,2,1,0.890269,0.295533,1,0
...,...,...,...,...,...,...,...,...,...,...
1223,1,0,0,1,2,0,0.186225,0.241695,3,0
1224,1,0,0,1,2,1,0.109547,0.376861,2,0
1225,1,0,0,0,2,0,0.189502,0.135166,0,0
1226,0,0,0,1,2,0,0.115456,0.150057,2,1
1227,0,0,1,1,2,0,0.333164,0.199313,2,1

In [7]:
test_x  = test_data.drop(['stroke'] , axis = 1)
test_x

,gender,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,0,0,0,1,3,0,0.733081,0.392898,2
1,1,0,0,1,3,0,0.184147,0.252005,3
2,1,0,0,1,2,0,0.175053,0.361970,3
3,1,0,0,1,3,1,0.865571,0.174112,2
4,1,0,0,1,2,1,0.890269,0.295533,1
...,...,...,...,...,...,...,...,...,...
1223,1,0,0,1,2,0,0.186225,0.241695,3
1224,1,0,0,1,2,1,0.109547,0.376861,2
1225,1,0,0,0,2,0,0.189502,0.135166,0
1226,0,0,0,1,2,0,0.115456,0.150057,2
1227,0,0,1,1,2,0,0.333164,0.199313,2

In [8]:
model = joblib.load("artifacts/model_trainer/model.joblib")

In [9]:
model.predict(test_x)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)